@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.nombre {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
}

.nombre h1{
    color: palevioletred;
    font-size: 2em;
    margin-top: 10px;
    text-shadow: 0 0 10px rgba(28,123,54,0.1);
}

.nombre h2{
    font-size: 1.2em;
    margin-top: 10px;
    text-shadow: 0 0 10px rgba(28,123,54,0.1);
    display:inline-block;
    vertical-align: middle;
    margin-left:1%

    

}
img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid pink;
    padding: 20px;
    margin: 20px;
    border-radius: 20%;
    box-shadow: 0 0 10px rgba(28,123,54,0.1);
}

body {
    background-color: #faeeee;
    margin: 5%;
    line-height: 1.6;
}
main{
    max-width: 800px;
    margin: auto;
    padding:20px;
    box-shadow: 0 0 10px rgba(28,123,54,0.1)
}
header {
    text-align: center;
    padding:20px;
    background-image:url(./img/milk-melting-on-light-pink-background-vector.jpg) ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.perfil_profesional,.Habilidades,.idiomas,.informacion_contacto,.Experiencia_laboral,.formacion{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.perfil_profesional p{
    color: rgb(65, 64, 64);

}

.Habilidades ul{
    color: rgb(65, 64, 64);
    list-style-type: none;
}
.idiomas ul{
    color: rgb(65, 64, 64);
    list-style-type: none;
}
.informacion_contacto p{
    color: rgb(65, 64, 64);
}
.Experiencia_laboral p{
    color: rgb(65, 64, 64);  
}
.formacion p{
    color: rgb(65, 64, 64); 
}

.perfil_profesional{
    background-color: antiquewhite;
    margin-top:10px;
    border-radius:3% ;
}
.Habilidades{
    background-color: antiquewhite;
    margin-top: 10px;
    border-radius:3% ;
}
.idiomas{
    background-color: antiquewhite;
    margin-top: 10px;
    border-radius:3% ;
}
.informacion_contacto{
    background-color: antiquewhite;
    margin-top: 10px;
    border-radius:3% ;    
}
.Experiencia_laboral{
    background-color: antiquewhite;
    margin-top: 10px;
    border-radius:3% ;   
}
.formacion{
    background-color: antiquewhite;
    margin-top: 10px;
    border-radius:3% ;       
}


